@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body{
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    /* align-items: center; */
}

.error-msg{
    display: none;
}
